
h2 {
    color: black;
    background-color: aquamarine;
    }
body {
    background-color: beige;
    }
    /* pristup preko ID-a */
#prvi{
    color: blue;
}
    /* pristup preko klase */
.drugi {
    color: brown;
}