#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

h2 {
    font-weight: normal;
}

img {
    width: 200px;
    height: 200px;
}

p1 {
    color: red;
}

.note {
    font-size: 20px;
}

#id-selector-demo {
    color: green;
}

li[value="4"] {
    color: blue;
}

* {
  text-align: center;
}